.covered-word {
  display: inline-block;
  background-color: #364666;
  color: #fff;
  font-size: 30px;
  margin: 0 2px 4px 2px;
  padding: 15px 20px 15px;
  position: relative;


  &__word,
  &__hashed {
    @include transition(opacity 0.3s ease-in);
    opacity: 1;
    &--hidden {
      opacity: 0;
    }
  }

  &__hashed {
    position: absolute;
    left: 0;
    top: 21px;
    width: 100%;
  }
}

@include respond-to('phone-horizontal') {
  .covered-word {
    font-size: 22px;
    padding: 10px 15px;

    &__hashed {
      top: 15px;
    }
  }
}
